In [5]:
import pandas as pd

In [3]:
df = pd.read_csv('cricket.csv')

In [4]:
df

   sr.no           name  matches  runs  catches  wickets  stumpings
0      1    Anil Dalpat      122  6755       56       12          0
1      2   Rohan Kanhay      144  1256       76      178          0
2      3  Avdhoot Dighe      265  8954      120        0          0
3      4       Bahubali       10   756        6       11          3
4      5      Leeladhar      234  2866      105      376          0
5      6      Pradyumna      177  5877       47      122          0
6      7     Dinesh Roy      211  8537      112       16          0
7      8     Parmeshwar      245  9466       53        0          0
8      9    Ali Durrani       55  2756       12       26          0
9     10   Litesh Singh       89  1099       46       49          0

In [10]:
df1 = pd.read_csv('cricket.csv')
df1.loc[:,['name', 'runs']]

            name  runs
0    Anil Dalpat  6755
1   Rohan Kanhay  1256
2  Avdhoot Dighe  8954
3       Bahubali   756
4      Leeladhar  2866
5      Pradyumna  5877
6     Dinesh Roy  8537
7     Parmeshwar  9466
8    Ali Durrani  2756
9   Litesh Singh  1099

In [14]:
data = pd.read_csv('cricket.csv')
total_wickets = data['wickets'].sum()
print('Total wickets: ', total_wickets)

Total wickets:  790

In [16]:
average_catches = data['catches'].mean()
print('Average catches: ', average_catches)

Average catches:  63.3

In [18]:
df1= pd.read_csv('cricket.csv')
data = df1.loc[df1["wickets"]==0, "name"]
data.head()

2    Avdhoot Dighe
7       Parmeshwar
Name: name, dtype: object

In [26]:
data = (df1["wickets"].max()) & (df1["matches"].max())
data

np.int64(264)

In [28]:
average_wickets = df1['wickets'].mean()
print('Average wickets: ', average_wickets)

Average wickets:  79.0